---
const menus = [
  { label: 'css', key: 'css', href: '/css' },
  { label: 'html', key: 'html', href: '/html' },
  { label: 'vue', key: 'vue', href: '/vue' }
]
---

<nav class='flex-1'>
  <ul class='flex justify-end gap-x-20px list-none'>
    {
      menus.map((item, index) => (
        <li key={index} as const>
          {item.children ? (
            <div class='relative group'>
              <a href='#' class='hover:underline'>
                {item.label}
              </a>
              <div class='absolute hidden group-hover:block bg-gray-800 py-2 z-10'>
                <ul>
                  {item.children.map((child, childIndex) => (
                    <li key={childIndex} as const>
                      <a href={child.href}>{child.label}</a>
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          ) : (
            <a href={item.href}>{item.label}</a>
          )}
        </li>
      ))
    }
  </ul>
</nav>
